*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.wrapper{
    position: relative;
    display: flex;
    flex-direction: column;

    width: 100vw;
    min-height: 100vh;
    background: linear-gradient(to top right,#056491 25%,#52acd6 75%);
}
.container{
    position: relative;
    width: 100%;
}
header{
    height: 80px;
    width: 100%;
    background: #022433;
    padding:5px 20px;
}
.navbar{
    width: 100%;
    height: 100%;
    background: lightgreen;
}
.options{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #056491;
    width: 100%;
    height: 10%;
}
.options button{
    height: 100%;
    width: 100%;

}

.form{
    display: flex;
    flex-direction: column;
    position: relative;
    width:  100%;
    height: 100%;
    max-width: 400px;
    max-height:400px;
    margin:3% auto;
    background: #fff;
}
.login-form{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #022433;
}
